.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalDiv {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  height: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6vh;
}
.modalDivTeacher {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  height: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6vh;
}
.modalCourseImage {
  width: 50%;
  height: 23.3vh;
  border-radius: 20px;
  margin-bottom: 3vh;
}

.modalCourseName {
  text-align: center;
  font-size: 2rem;
}
.modalCourseDescription {
  margin-top: 2vh;
  text-align: justify;
  font-size: 1.1rem;
  padding-left: 15%;
  padding-right: 15%;
}

.modalActions {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 3vh;
}

.courseTeacherDiv {
  width: 35%;
  height: 20%;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.courseTeacherImage {
  width: 4vw;
  height: 8vh;
  border-radius: 50px;
}
.courseTeacherName {
  margin-left: 1vw;
  font-size: 1.5rem;
}
.courseTeacherLabel {
  margin-left: 2vw;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.closeModalButton {
  cursor: pointer;
  border: none;
  width: 40%;
  height: 100%;
  font-family: "The Seasons", sans-serif;
  color: black;
  border-radius: 30px;
  background: linear-gradient(to right, #f0f0f0, #888888);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
}
.closeModalButton:hover {
  background: #aac8de;
  color: #f0f0f0;
}

.goModalButton {
  cursor: pointer;
  border: none;
  width: 40%;
  height: 100%;
  font-family: "The Seasons", sans-serif;

  border-radius: 30px;
  background: linear-gradient(to right, #4ac4ff, #003ca6);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
}
.goModalButton:hover {
  background: #aac8de;
}
