.dashboard {
  display: flex;
  height: 100%;
  width: 100%;

  font-family: "The Seasons", sans-serif;
}

/* === ASIDE === */
.sidebar {
  width: 21.2%;
  height: 100%;
  border-right: 1px solid #ccc;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.logoContainer {
  padding-top: 4.5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebarLogo {
  width: 58%;
  height: 50%;
}

.sidebarUser {
  margin-top: 6%;
  text-align: center;
  margin-bottom: 8%;
}
.sidebarUserName {
  font-family: "The Seasons", serif;
  font-size: 1.49rem;
}

.userImage {
  width: 27%;
  height: 33%;
  border-radius: 50%;
}

.sidebarNav {
  padding-left: 7.5%;
  padding-right: 7.5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

.sidebarLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5%;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.logout {
  color: red;
  margin-top: 28vh;
  display: flex;
  align-items: center;
  gap: 3.5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  font-size: 1.3rem;
}

/* === MAIN === */
.mainContent {
  flex: 1;
  padding-left: 2.4%;
  padding-right: 2.4%;
  background-color: #eef1f3;
}

/* === SEARCH === */
.searchContainer {
  margin-top: 1.8vh;
  position: relative;
  width: 50%;
  height: 10.5%;
}

.searchInput {
  margin-left: 7.5%;
  padding: 1.8% 1.8% 1.8% 5%;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 80%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  outline: none;
  height: 68%;
  font-size: 1.3rem;
}

/* === SECTIONS CONTAINER === */
.sectionsWrapper {
  background-color: #aac8de;
  padding: 1.75%;
  border-radius: 25px;
}

/* === INDIVIDUAL SECTIONS === */
.section {
  margin-bottom: 3vh;
  padding-bottom: 2vh;
  overflow-x: hidden;
}

.sectionTitle {
  margin-left: 1.1%;
  margin-bottom: 1%;
  font-size: 1.94rem;
  font-weight: 300;
}

.cardScroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.card {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
}

.courseImage {
  width: 180px;
  border-radius: 50%;
}

.cardTitle {
  margin: 10px 0 5px;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardUserImage {
  width: 60px;
  border-radius: 50%;
}

.cardUserText {
  font-size: 12px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}
